<IfModule mod_rewrite.c>
    DirectoryIndex index.php index.html

    RewriteEngine On
    RewriteBase /

    # Pass Authorization Headers
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the requested file or directory does not exist, route to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
